<!--<div class="header">-->
<!--  <div class="menu">-->
<!--    <img src="assets/icon-menu-login.png">-->
<!--    <p>TimeTable</p>-->
<!--  </div>-->
<!--  <div class="flag">-->
<!--    <img src="../../../assets/icon_co_viet_nam.jpg" width="30px" [class.active]="activeFlag === 'vi'" (click)="changeBorderColor('vi')">-->
<!--    <img src="../../../assets/icon_co_anh.png" width="30px" [class.active]="activeFlag === 'en'" (click)="changeBorderColor('en')">-->
<!--  </div>-->
<!--</div>-->
<!--<div class="login">-->
<!--  <div class="frame">-->
<!--    <div class="frame_text">-->
<!--      <div class="frame_text_2">-->
<!--        <p class="title_two">{{ 'Bt_login' | translate }}</p>-->
<!--        <p class="title_three">{{ 'Continue' | translate }} TimeTable</p>-->
<!--      </div>-->
<!--    </div>-->
<!--    <button class="button_login" (click)="login()"><img src="assets/logo-gg.png" class="logo_gg">{{ 'Sign_in_with_Google' | translate }}-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->

<div class="login">
  <div>
  <img src="assets/img_login_new.png" class="img_login">
  <div class="text_login">
    <div class="text_and_support">
      <p class="title">Thời khóa biểu</p>
      <p class="content_login">Chìm đắm vào ngày mới với đăng nhập đơn giản lên kế hoạch cho ngày của bạn!</p>
    </div>
  </div>
    <div class="btn_login">
      <button class="button_login" (click)="login()"><img src="assets/logo-gg.png" class="logo_gg">Đăng nhập với Google
      </button>
    </div>

  </div>
</div>
