<mat-dialog-content class="mat-typography">

  <div class="row" (click)="editTimeTable()">
    <div class="col-1">
      <img src="../../../assets/icon_edit.jpg" class="icon_show">
    </div>
    <div class="col-8" style="margin-top: 8px;">
      <span class="text_show">Edit</span>
    </div>
  </div>

  <div class="row">
    <div class="col-1">
      <img src="../../../assets/icon_share.jpg" class="icon_show">
    </div>
    <div class="col-8" style="margin-top: 8px;">
      <span class="text_show">Chia sẻ</span>
    </div>
  </div>

  <div class="row" (click)="storageTimeTable()">
    <div class="col-1">
      <img src="../../../assets/icon_storage.jpg" class="icon_show">
    </div>
    <div class="col-8" style="margin-top: 8px;">
      <span class="text_show">Lưu trữ</span>
    </div>
  </div>

</mat-dialog-content>
